.choice {
  border: 2px red solid;
}

.sic {
  text-decoration: underline;
  text-decoration-color: blue;
  text-decoration-thickness: 3px;
  font-weight: bold;
}

.corr {
  text-decoration: underline;
  text-decoration-color: green;
  text-decoration-thickness: 3px;

}

.corr2 {
  text-decoration: underline;
  text-decoration-color: violet;
  text-decoration-thickness: 3px;
}
