.app {
  border: 1px red solid;
}

.lem {
  text-decoration: underline;
  text-decoration-color: blue;
}

.rdg {
  text-decoration: underline;
  text-decoration-color: green;

}

.rdg2 {
  text-decoration: underline;
  text-decoration-color: violet;
}
